      1 tors13
      0 itrans
      1 icobo 
      1 icentr
      1 imetho
      1 igeofo
  100.0 axis1 
  100.0 axis2 
  100.0 axis3 
   90.0 angle1
   90.0 angle2
   90.0 angle3
     25 irecon
      0 isurpr
      5 ixmolo
      1 ichupd
      4 icharg
    0.1 endmm 
      1 imaxmo
   3000 imaxit
      1 iout4 
      0 icelop
 1.0001 celopt
      0 icelo2
      4 mcrxdd
  20000 mcffit
      0 fort99
0.00001 ffotol
